header {
	position: absolute;
	margin-top: 30px;

	width: 100%;
	background-color: white;
	z-index: 999;
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav ul {
	display: flex;
}
header li:not(:last-child) {
	margin-right: 20px;
}
header li a {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	color: #3e4c4e;
}
.logo {
	padding: 35px 0;
	color: #424f57;
	font-weight: 300;
}
.logo span {
	color: #6e7174;
	font-weight: 900;
}
.logo {
	font-size: 36px;
}
.logo span,
nav ul li a {
	transition: all 0.3s ease;
}

/* HOWER */
.logo:hover span,
nav ul li a:hover {
	color: #14afca;
}
