.frst-title-block {
	height: 80vh;
	background: url(../image/frst-bg.png);
	background-size: cover;
	background-position: center;
	background-position-y: -195px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	font-size: 52px;
	font-weight: 700;
	text-transform: uppercase;
}
.frst-title-block div {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 200px;
}
.frst-text-block {
	height: 40vh;
}
.frst-text-block article {
	display: block;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.frst-text-block h2,
.companies article h2,
.meet article h2,
.testimonials article h2,
.why article h2 {
	font-weight: 700;
	font-size: 60px;
	color: #14afca;
}
.frst-text-block h2 {
	margin-top: 50px;
}
.frst-text-block p:first-of-type {
	margin: 20px 0;
	font-weight: 600;
	font-size: 18px;
	font-family: 'Open Sans';
	color: #424f57;
}
.frst-text-block p:last-of-type {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: #424f57;
}
.triangle {
	position: relative;
	margin-top: 20px;
	height: 10vh;
	background-image: url('../image/rectangle.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% 100%;
	background-color: transparent;
	z-index: 5;
}
.companies {
	height: 80vh;
	background-image: url('../image/companies.png');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}
.companies article {
	margin-bottom: 30px;
}
.companies article h2 {
	margin-top: 30px;
}
.companies article p,
.meet article p,
.testimonials article p,
.why article p {
	font-weight: 600;
	font-size: 18px;
	line-height: 75px;
	letter-spacing: 0.899999px;
	color: white;
}
.list-item {
	min-width: 225px;
	height: 99px;
}
li a {
	width: 100%;
	height: 100%;
}
.companies-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 100px 30px;
}
.companies-list li {
	transition: all 0.3s ease;
}
li a {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* HOWER */
.companies-list li:hover,
.person-item-box:hover {
	transform: scale(1.2);
}

.meet {
	height: 80vh;
	text-align: center;
}
.meet article h2 {
	margin-top: 170px;
}
.meet article p {
	color: #424f57;
}
.meet ul {
	display: flex;
	gap: 40px;
}
.person-item-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 310px;
	gap: 20px;
}
.testimonials {
	height: 80vh;
	background-image: url('../image/testimonials.png');
	background-position-y: 35px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
}
.testimonials article {
	margin-top: 140px;
}
p.testimonials-text {
	position: relative;
	width: 915px;
	margin-top: 45px;
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.8px;
	color: #d3cccc;
}
p.testimonials-text::after {
	position: absolute;
	content: '- Shoaib Ahmed';
	bottom: -55px;
	right: 45px;
	color: #ffffff;
	letter-spacing: 0.45px;
	font-family: 'Open Sans';
	font-size: 18px;
	line-height: 24px;
}
.why article {
	margin-top: 100px;
	text-align: center;
}
.why article p {
	color: #424f57;
}
.why-text {
	width: 805px;
	margin-bottom: 95px;
	color: #424f57;
	font-weight: 700;
	font-size: 30px;
	line-height: 48px;
	letter-spacing: 0.75px;
	text-align: center;
}
footer div {
}
footer div p {
	width: 455px;
	margin-top: 95px;
	margin-bottom: 65px;
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.7px;
	color: #3d3c3c;
}
footer div {
	display: flex;
	justify-content: center;
	align-items: center;
}
footer p span {
	font-weight: 700;
	font-size: 16px;
}
