@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@300;400;700;900&display=swap');
@import url('/styles/header.css');
@import url('/styles/main.css');
@import url('/styles/main.css');

* {
	box-sizing: border-box;
	font-family: 'Roboto';
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 992px;
	margin: 0 auto;
}
.flex {
	display: flex;
	align-items: center;
}
.bg-white {
	background-color: white;
}
